.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

i.la-sun, i.la-moon {
    font-size: 3rem;
    color: #fff;
}

i.la-sun:hover, i.la-moon:hover {
    color: #ccc;
    cursor: pointer;
}

.app-title {
    font-size: 3rem;
    margin: 20px;
    margin-left: 0px;
    color: #FFF;
    text-align: left;
    user-select: none;
    letter-spacing: 1rem;
}
