# .NET
**/bin/
**/obj/
**/.vs/
**/*.db
**/*.db-shm
**/*.db-wal

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
gas-tracker-frontend/build/
gas-tracker-frontend/.env.local
gas-tracker-frontend/.env.development.local
gas-tracker-frontend/.env.test.local
gas-tracker-frontend/.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
