services:
    consul:
        image: hashicorp/consul:latest
        container_name: api.Consul
        ports:
            - "8500:8500" # Consul UI
            - "8600:8600/udp" # Consul DNS
        networks:
            - consul_app
        command: "agent -dev -client=0.0.0.0"
        environment:
            CONSUL_BIND_INTERFACE: eth0

    product-service:
        build:
            context: .
            dockerfile: ProductApi/Dockerfile
        container_name: api.ProductService
        ports:
            - 5001:8080
        networks:
            - consul_app
        depends_on:
            - consul
        environment:
            ServiceDiscoveryConfiguration__ConsulConfiguration__Scheme: "http"
            ServiceDiscoveryConfiguration__ConsulConfiguration__Host: "consul"
            ServiceDiscoveryConfiguration__ConsulConfiguration__Port: "8500"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Scheme: "http"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Host: "product-service"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Port: "8080"
            ServiceDiscoveryConfiguration__ServiceConfiguration__ServiceName: "ProductApi"
            Logging__LogLevel__Default: "Information"
            Logging__LogLevel__Microsoft: "Warning"
            Serilog__MinimumLevel__Default: "Information"
    order-service:
        build:
            context: .
            dockerfile: OrdersApi/Dockerfile
        container_name: api.OrderService
        ports:
            - 5002:8080
        networks:
            - consul_app
        depends_on:
            - consul
            - rabbitmq
        environment:
            ServiceDiscoveryConfiguration__ConsulConfiguration__Scheme: "http"
            ServiceDiscoveryConfiguration__ConsulConfiguration__Host: "consul"
            ServiceDiscoveryConfiguration__ConsulConfiguration__Port: "8500"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Scheme: "http"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Host: "order-service"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Port: "8080"
            ServiceDiscoveryConfiguration__ServiceConfiguration__ServiceName: "OrderApi"
            RabbitMq__Host: "amqp://api.RabbitMQ:5672"
            RabbitMq__UserName: "guest"
            RabbitMq__Password: "guest"
            RabbitMq__QueueName: "order-created-queue"
            Logging__LogLevel__Default: "Information"
            Logging__LogLevel__Microsoft: "Warning"
            Serilog__MinimumLevel__Default: "Information"

    notification-service:
        build:
            context: .
            dockerfile: NotificationsApi/Dockerfile
        container_name: api.NotificationsService
        ports:
            - 5003:8080
        networks:
            - consul_app
        depends_on:
            - consul
            - rabbitmq
        restart: on-failure
        environment:
            ServiceDiscoveryConfiguration__ConsulConfiguration__Scheme: "http"
            ServiceDiscoveryConfiguration__ConsulConfiguration__Host: "consul"
            ServiceDiscoveryConfiguration__ConsulConfiguration__Port: "8500"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Scheme: "http"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Host: "notifications-service"
            ServiceDiscoveryConfiguration__ServiceConfiguration__Port: "8080"
            ServiceDiscoveryConfiguration__ServiceConfiguration__ServiceName: "NotificationsApi"
            Messaging__RabbitMq__Host: "amqp://api.RabbitMQ:5672"
            Messaging__RabbitMq__UserName: "guest"
            Messaging__RabbitMq__Password: "guest"
            Messaging__RabbitMq__QueueName: "order-created-queue"
            Logging__LogLevel__Default: "Information"
            Logging__LogLevel__Microsoft: "Warning"
            Serilog__MinimumLevel__Default: "Information"

    rabbitmq:
        image: "rabbitmq:3-management"
        container_name: api.RabbitMQ
        ports:
            - "5672:5672" # RabbitMQ Broker
            - "15672:15672" # RabbitMQ Management UI
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        networks:
            - consul_app
        healthcheck:
            test: rabbitmq-diagnostics -q ping
            interval: 30s
            timeout: 30s
            retries: 3

    dozzle:
        image: amir20/dozzle:latest
        container_name: api.Dozzle
        ports:
            - "9999:8080"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - consul_app
        depends_on:
            - product-service
            - order-service
            - notification-service
            - rabbitmq
        
networks:
  consul_app:
    driver: bridge